/* General body styles */
body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
