/* General body styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 20pt;
  font-weight: lighter;
  color: #000000;
}

a {
  text-decoration: underline;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 10px;
  margin: 50px;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 10px;
  margin: 100px;
}

h2 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 8px;
  margin: 100px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}
