
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #000000;
  background-image: url(../img/jean.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 10px;
  margin: 50px;
}

/* Make icons for the links */

a {
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #e8c931;
  background-color: #000000;
  border: #e8c931 4px solid;
  padding: 10px;
  margin: 50px;
  display: inline-block;
  justify-content: center;
}

a:hover {
  color: #60fcff;
}

a:focus {
  outline: 3px solid #ffffff;
}

.back a {
  width: 10%;
  height: 10%;
  padding: 4%;
  margin: 2%;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: none;
}

h2 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 8px;
  display: inline-flex;
}

p {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px auto;
  width: 60%;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.book {
  border: 7px solid #000000;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0 4px;
  width: 800px; 
  max-width: 100%;
  aspect-ratio: 3 / 2;
  display: flex;
  margin: 20px auto;
}
.pageL,	.pageR {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.pageL {
  border-left: 1px #808080 solid;
}
.pageR { 
  border-right: 1px #808080 solid;
}
.seam {
  width: 7px;
  background:
    linear-gradient(to right,
    #ffffff, #808080, #ffffff);
}
