/* General body styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #000000;
}

a {
  text-decoration: underline;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 10px;
  margin: 50px;
  display: inline-block;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 10px;
  margin: 100px;
}

h2 {
  text-align: center;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 4px solid;
  padding: 8px;
  margin: 100px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.book {
  border: 7px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 0 4px;
  width: 800px; /* adjust size */
  max-width: 100%;
  aspect-ratio: 3 / 2;
  display: flex;
  margin: 20px auto;
}
.pageL,	.pageR {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.pageL {
  border-left: 1px grey solid;
}
.pageR { 
  border-right: 1px grey solid;
}
.seam {
  width: 7px;
  background:
    linear-gradient(to right,
    white, grey, white);
}
